USE [master]
GO
/****** Object:  Database [ELearning_DB_2]    Script Date: 5/29/2026 12:08:53 PM ******/
CREATE DATABASE [ELearning_DB_2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ELearning_DB_2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ELearning_DB_2.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ELearning_DB_2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ELearning_DB_2_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ELearning_DB_2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ELearning_DB_2]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 5/29/2026 12:08:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[MaKhuyenMai] [int] IDENTITY(1,1) NOT NULL,
	[TenChuongTrinh] [nvarchar](200) NULL,
	[PhanTramGiam] [float] NULL,
	[NgayBatDau] [datetime] NULL,
	[NgayKetThuc] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhuyenMai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhoaHoc]    Script Date: 5/29/2026 12:08:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoaHoc](
	[MaKhoaHoc] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](255) NOT NULL,
	[TieuDePhu] [nvarchar](255) NULL,
	[MoTa] [nvarchar](max) NULL,
	[GiaGoc] [decimal](18, 2) NULL,
	[TinhTrang] [nvarchar](50) NULL,
	[TBDanhGia] [float] NULL,
	[NgayTao] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
	[MaTheLoai] [int] NULL,
	[KiNang] [nvarchar](max) NULL,
	[AnhURL] [varchar](max) NULL,
	[MaKhuyenMai] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[ThoiGianHocDuKien] [int] NULL,
	[ThoiGianChoPhepTre] [int] NULL,
	[TrinhDo] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhoaHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_KhoaHoc_GiaThucTe]    Script Date: 5/29/2026 12:08:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Logic Khuyến mãi (Hết date, Mapping, Tính giá sau giảm)
CREATE VIEW [dbo].[vw_KhoaHoc_GiaThucTe] AS
SELECT 
    kh.MaKhoaHoc, kh.TieuDe, kh.GiaGoc,
    km.MaKhuyenMai, km.PhanTramGiam, km.NgayKetThuc,
    CASE 
        WHEN km.MaKhuyenMai IS NOT NULL AND km.NgayKetThuc >= GETDATE() THEN kh.GiaGoc * (1.0 - (km.PhanTramGiam / 100.0))
        ELSE kh.GiaGoc 
    END AS GiaSauGiam
FROM KhoaHoc kh
LEFT JOIN KhuyenMai km ON kh.MaKhuyenMai = km.MaKhuyenMai;
GO
/****** Object:  Table [dbo].[BaiHoc]    Script Date: 5/29/2026 12:08:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiHoc](
	[MaBaiHoc] [int] IDENTITY(1,1) NOT NULL,
	[LinkVideo] [varchar](max) NULL,
	[MaChuong] [int] NULL,
	[BaiTap] [nvarchar](max) NULL,
	[LyThuyet] [nvarchar](max) NULL,
	[LinkTaiLieu] [varchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBaiHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietGioHang]    Script Date: 5/29/2026 12:08:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietGioHang](
	[MaChiTietGioHang] [int] IDENTITY(1,1) NOT NULL,
	[Gia] [decimal](18, 2) NULL,
	[MaKhoaHoc] [int] NULL,
	[MaGioHang] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTietGioHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_GioHang_KhoaHoc] UNIQUE NONCLUSTERED 
(
	[MaGioHang] ASC,
	[MaKhoaHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 5/29/2026 12:08:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaChiTietHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[Gia] [decimal](18, 2) NULL,
	[MaHoaDon] [int] NULL,
	[MaKhoaHoc] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTietHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChungChi]    Script Date: 5/29/2026 12:08:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChungChi](
	[MaChungChi] [int] IDENTITY(1,1) NOT NULL,
	[NgayPhat] [datetime] NULL,
	[MaKhoaHoc] [int] NULL,
	[MaNguoiDung] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChungChi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chuong]    Script Date: 5/29/2026 12:08:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chuong](
	[MaChuong] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](255) NOT NULL,
	[MaKhoaHoc] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGia]    Script Date: 5/29/2026 12:08:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGia](
	[MaDanhGia] [int] IDENTITY(1,1) NOT NULL,
	[Rating] [float] NULL,
	[BinhLuan] [nvarchar](max) NULL,
	[NgayDanhGia] [datetime] NULL,
	[Thich] [int] NULL,
	[MaKhoaHoc] [int] NULL,
	[MaNguoiDung] [int] NULL,
	[Emotion] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDanhGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiangVien_KhoaHoc]    Script Date: 5/29/2026 12:08:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiangVien_KhoaHoc](
	[MaKhoaHoc] [int] NOT NULL,
	[MaGiangVien] [int] NOT NULL,
	[LaGiangVienChinh] [bit] NULL,
	[TyLeDoanhThu] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhoaHoc] ASC,
	[MaGiangVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 5/29/2026 12:08:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[MaGioHang] [int] IDENTITY(1,1) NOT NULL,
	[NgayTao] [datetime] NULL,
	[MaNguoiDung] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGioHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HangThanhVien]    Script Date: 5/29/2026 12:08:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangThanhVien](
	[MaHang] [int] IDENTITY(1,1) NOT NULL,
	[TenHang] [nvarchar](50) NOT NULL,
	[SoKhoaHocToiThieu] [int] NOT NULL,
	[PhanTramUuDai] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 5/29/2026 12:08:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[TongTien] [decimal](18, 2) NOT NULL,
	[PhuongThucThanhToan] [nvarchar](100) NULL,
	[TinhTrangThanhToan] [bit] NULL,
	[NgayTao] [datetime] NULL,
	[MaNguoiDung] [int] NULL,
	[MaVoucher] [varchar](50) NULL,
	[SoTienGiam] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LuotThichKhoaHoc]    Script Date: 5/29/2026 12:08:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LuotThichKhoaHoc](
	[MaLuotThich] [int] IDENTITY(1,1) NOT NULL,
	[MaNguoiDung] [int] NOT NULL,
	[MaKhoaHoc] [int] NOT NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLuotThich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_LuotThichKhoaHoc] UNIQUE NONCLUSTERED 
(
	[MaNguoiDung] ASC,
	[MaKhoaHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 5/29/2026 12:08:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[MaNguoiDung] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[MatKhau] [varchar](255) NOT NULL,
	[VaiTro] [nvarchar](20) NULL,
	[LinkAnhDaiDien] [varchar](max) NULL,
	[TieuSu] [nvarchar](max) NULL,
	[TinhTrang] [nvarchar](50) NULL,
	[NgayTao] [datetime] NULL,
	[HoSoBangCap] [nvarchar](max) NULL,
	[HangThanhVien] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TienDo]    Script Date: 5/29/2026 12:08:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TienDo](
	[MaTienDo] [int] IDENTITY(1,1) NOT NULL,
	[NgayThamGia] [datetime] NULL,
	[PhanTramTienDo] [float] NULL,
	[TinhTrang] [bit] NULL,
	[MaKhoaHoc] [int] NULL,
	[MaNguoiDung] [int] NULL,
	[NgayKetThuc] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTienDo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TienDoBaiHoc]    Script Date: 5/29/2026 12:08:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TienDoBaiHoc](
	[MaTienDoBaiHoc] [int] IDENTITY(1,1) NOT NULL,
	[MaBaiHoc] [int] NULL,
	[DaHoanThanh] [bit] NULL,
	[LanCuoiXem] [datetime] NULL,
	[ThoiGian] [int] NULL,
	[MaTienDo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTienDoBaiHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheLoai]    Script Date: 5/29/2026 12:08:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoai](
	[MaTheLoai] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongBao]    Script Date: 5/29/2026 12:08:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongBao](
	[MaThongBao] [int] IDENTITY(1,1) NOT NULL,
	[MaNguoiDung] [int] NOT NULL,
	[TieuDe] [nvarchar](255) NOT NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[DaDoc] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThongBao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongBaoKhoaHoc]    Script Date: 5/29/2026 12:08:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongBaoKhoaHoc](
	[MaThongBao] [int] IDENTITY(1,1) NOT NULL,
	[MaKhoaHoc] [int] NULL,
	[TieuDe] [nvarchar](255) NOT NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[NgayTao] [datetime] NULL,
	[MaNguoiDung] [int] NULL,
	[LoaiThongBao] [varchar](50) NULL,
	[DaDoc] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThongBao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher_Hang]    Script Date: 5/29/2026 12:08:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher_Hang](
	[MaVoucher] [int] IDENTITY(1,1) NOT NULL,
	[MaHang] [int] NOT NULL,
	[MaCode] [varchar](50) NOT NULL,
	[TieuDe] [nvarchar](255) NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVoucher] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChungChi] ADD  DEFAULT (getdate()) FOR [NgayPhat]
GO
ALTER TABLE [dbo].[DanhGia] ADD  DEFAULT (getdate()) FOR [NgayDanhGia]
GO
ALTER TABLE [dbo].[DanhGia] ADD  DEFAULT ((0)) FOR [Thich]
GO
ALTER TABLE [dbo].[GiangVien_KhoaHoc] ADD  DEFAULT ((0)) FOR [LaGiangVienChinh]
GO
ALTER TABLE [dbo].[GiangVien_KhoaHoc] ADD  DEFAULT ((0)) FOR [TyLeDoanhThu]
GO
ALTER TABLE [dbo].[GioHang] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [TinhTrangThanhToan]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [SoTienGiam]
GO
ALTER TABLE [dbo].[KhoaHoc] ADD  DEFAULT ((0)) FOR [TBDanhGia]
GO
ALTER TABLE [dbo].[KhoaHoc] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[KhoaHoc] ADD  CONSTRAINT [DF_KhoaHoc_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[LuotThichKhoaHoc] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT (N'Thường') FOR [HangThanhVien]
GO
ALTER TABLE [dbo].[TienDo] ADD  DEFAULT (getdate()) FOR [NgayThamGia]
GO
ALTER TABLE [dbo].[TienDo] ADD  DEFAULT ((0)) FOR [PhanTramTienDo]
GO
ALTER TABLE [dbo].[TienDo] ADD  DEFAULT ((0)) FOR [TinhTrang]
GO
ALTER TABLE [dbo].[TienDoBaiHoc] ADD  DEFAULT ((0)) FOR [DaHoanThanh]
GO
ALTER TABLE [dbo].[ThongBao] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[ThongBao] ADD  DEFAULT ((0)) FOR [DaDoc]
GO
ALTER TABLE [dbo].[ThongBaoKhoaHoc] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[ThongBaoKhoaHoc] ADD  DEFAULT ('Course') FOR [LoaiThongBao]
GO
ALTER TABLE [dbo].[ThongBaoKhoaHoc] ADD  DEFAULT ((0)) FOR [DaDoc]
GO
ALTER TABLE [dbo].[Voucher_Hang] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[BaiHoc]  WITH CHECK ADD FOREIGN KEY([MaChuong])
REFERENCES [dbo].[Chuong] ([MaChuong])
GO
ALTER TABLE [dbo].[ChiTietGioHang]  WITH CHECK ADD FOREIGN KEY([MaGioHang])
REFERENCES [dbo].[GioHang] ([MaGioHang])
GO
ALTER TABLE [dbo].[ChiTietGioHang]  WITH CHECK ADD FOREIGN KEY([MaKhoaHoc])
REFERENCES [dbo].[KhoaHoc] ([MaKhoaHoc])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HoaDon] ([MaHoaDon])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaKhoaHoc])
REFERENCES [dbo].[KhoaHoc] ([MaKhoaHoc])
GO
ALTER TABLE [dbo].[ChungChi]  WITH CHECK ADD FOREIGN KEY([MaKhoaHoc])
REFERENCES [dbo].[KhoaHoc] ([MaKhoaHoc])
GO
ALTER TABLE [dbo].[ChungChi]  WITH CHECK ADD FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[Chuong]  WITH CHECK ADD FOREIGN KEY([MaKhoaHoc])
REFERENCES [dbo].[KhoaHoc] ([MaKhoaHoc])
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD FOREIGN KEY([MaKhoaHoc])
REFERENCES [dbo].[KhoaHoc] ([MaKhoaHoc])
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[GiangVien_KhoaHoc]  WITH CHECK ADD FOREIGN KEY([MaGiangVien])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[GiangVien_KhoaHoc]  WITH CHECK ADD FOREIGN KEY([MaKhoaHoc])
REFERENCES [dbo].[KhoaHoc] ([MaKhoaHoc])
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[KhoaHoc]  WITH CHECK ADD FOREIGN KEY([MaKhuyenMai])
REFERENCES [dbo].[KhuyenMai] ([MaKhuyenMai])
GO
ALTER TABLE [dbo].[KhoaHoc]  WITH CHECK ADD FOREIGN KEY([MaTheLoai])
REFERENCES [dbo].[TheLoai] ([MaTheLoai])
GO
ALTER TABLE [dbo].[LuotThichKhoaHoc]  WITH CHECK ADD FOREIGN KEY([MaKhoaHoc])
REFERENCES [dbo].[KhoaHoc] ([MaKhoaHoc])
GO
ALTER TABLE [dbo].[LuotThichKhoaHoc]  WITH CHECK ADD FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[TienDo]  WITH CHECK ADD FOREIGN KEY([MaKhoaHoc])
REFERENCES [dbo].[KhoaHoc] ([MaKhoaHoc])
GO
ALTER TABLE [dbo].[TienDo]  WITH CHECK ADD FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[TienDoBaiHoc]  WITH CHECK ADD FOREIGN KEY([MaBaiHoc])
REFERENCES [dbo].[BaiHoc] ([MaBaiHoc])
GO
ALTER TABLE [dbo].[TienDoBaiHoc]  WITH CHECK ADD FOREIGN KEY([MaTienDo])
REFERENCES [dbo].[TienDo] ([MaTienDo])
GO
ALTER TABLE [dbo].[ThongBao]  WITH CHECK ADD  CONSTRAINT [FK_ThongBao_NguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ThongBao] CHECK CONSTRAINT [FK_ThongBao_NguoiDung]
GO
ALTER TABLE [dbo].[ThongBaoKhoaHoc]  WITH CHECK ADD FOREIGN KEY([MaKhoaHoc])
REFERENCES [dbo].[KhoaHoc] ([MaKhoaHoc])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ThongBaoKhoaHoc]  WITH CHECK ADD FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[Voucher_Hang]  WITH CHECK ADD FOREIGN KEY([MaHang])
REFERENCES [dbo].[HangThanhVien] ([MaHang])
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD CHECK  (([Rating]>=(0) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[GiangVien_KhoaHoc]  WITH CHECK ADD CHECK  (([TyLeDoanhThu]>=(0) AND [TyLeDoanhThu]<=(100)))
GO
ALTER TABLE [dbo].[KhoaHoc]  WITH CHECK ADD CHECK  (([GiaGoc]>=(0)))
GO
ALTER TABLE [dbo].[KhoaHoc]  WITH CHECK ADD CHECK  (([TBDanhGia]>=(0) AND [TBDanhGia]<=(5)))
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD CHECK  (([VaiTro]='Admin' OR [VaiTro]='GiaoVien' OR [VaiTro]='HocVien'))
GO
ALTER TABLE [dbo].[TienDo]  WITH CHECK ADD CHECK  (([PhanTramTienDo]>=(0) AND [PhanTramTienDo]<=(100)))
GO
/****** Object:  StoredProcedure [dbo].[sp_CapNhatTienDoBaiHoc]    Script Date: 5/29/2026 12:08:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Cập nhật tiến độ bài học & tiến độ khóa học tự động
CREATE PROCEDURE [dbo].[sp_CapNhatTienDoBaiHoc]
    @MaTienDo INT,
    @MaBaiHoc INT
AS
BEGIN
    -- 1. Đánh dấu hoàn thành bài học
    UPDATE TienDoBaiHoc SET DaHoanThanh = 1 WHERE MaTienDo = @MaTienDo AND MaBaiHoc = @MaBaiHoc;

    -- 2. Tính lại phần trăm khóa học
    DECLARE @MaKhoaHoc INT = (SELECT MaKhoaHoc FROM TienDo WHERE MaTienDo = @MaTienDo);
    DECLARE @TongBaiHoc INT = (SELECT COUNT(*) FROM BaiHoc b JOIN Chuong c ON b.MaChuong = c.MaChuong WHERE c.MaKhoaHoc = @MaKhoaHoc);
    DECLARE @BaiDaXong INT = (SELECT COUNT(*) FROM TienDoBaiHoc WHERE MaTienDo = @MaTienDo AND DaHoanThanh = 1);

    DECLARE @PhanTram FLOAT = CASE WHEN @TongBaiHoc = 0 THEN 0 ELSE (@BaiDaXong * 100.0 / @TongBaiHoc) END;

    -- 3. Cập nhật bảng TienDo
    UPDATE TienDo 
    SET PhanTramTienDo = @PhanTram,
        TinhTrang = CASE WHEN @PhanTram = 100 THEN N'Đã hoàn thành' ELSE N'Đang học' END
    WHERE MaTienDo = @MaTienDo;
END;
GO
/****** Object:  Trigger [dbo].[trg_ChanMuaLaiKhoaHoc]    Script Date: 5/29/2026 12:08:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 3. Sửa Trigger: CHỈ chặn thêm vào giỏ hàng nếu khóa học ĐANG CÒN HẠN
CREATE TRIGGER [dbo].[trg_ChanMuaLaiKhoaHoc]
ON [dbo].[ChiTietGioHang]
FOR INSERT
AS
BEGIN
    IF EXISTS (
        SELECT 1 FROM inserted i
        JOIN GioHang gh ON i.MaGioHang = gh.MaGioHang
        JOIN TienDo td ON gh.MaNguoiDung = td.MaNguoiDung AND i.MaKhoaHoc = td.MaKhoaHoc
        WHERE td.NgayKetThuc IS NULL OR td.NgayKetThuc >= GETDATE() -- Thêm điều kiện này
    )
    BEGIN
        RAISERROR (N'Lỗi: Bạn đã sở hữu khóa học này và vẫn đang còn hạn, không thể thêm vào giỏ hàng.', 16, 1);
        ROLLBACK TRANSACTION;
    END
END;
GO
ALTER TABLE [dbo].[ChiTietGioHang] ENABLE TRIGGER [trg_ChanMuaLaiKhoaHoc]
GO
/****** Object:  Trigger [dbo].[trg_CapNhatTongTienHoaDon]    Script Date: 5/29/2026 12:08:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_CapNhatTongTienHoaDon]
ON [dbo].[ChiTietHoaDon]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    -- Lấy MaHoaDon bị ảnh hưởng
    DECLARE @MaHoaDon INT;
    SELECT TOP 1 @MaHoaDon = ISNULL(i.MaHoaDon, d.MaHoaDon) FROM inserted i FULL OUTER JOIN deleted d ON i.MaChiTietHoaDon = d.MaChiTietHoaDon;

    -- Update tổng tiền
    UPDATE HoaDon
    SET TongTien = ISNULL((SELECT SUM(Gia) FROM ChiTietHoaDon WHERE MaHoaDon = @MaHoaDon), 0)
    WHERE MaHoaDon = @MaHoaDon;
END;
GO
ALTER TABLE [dbo].[ChiTietHoaDon] ENABLE TRIGGER [trg_CapNhatTongTienHoaDon]
GO
/****** Object:  Trigger [dbo].[trg_GioiHanDanhGia]    Script Date: 5/29/2026 12:08:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_GioiHanDanhGia]
ON [dbo].[DanhGia]
FOR INSERT
AS
BEGIN
    DECLARE @Count INT;
    SELECT @Count = COUNT(*) FROM DanhGia d 
    JOIN inserted i ON d.MaNguoiDung = i.MaNguoiDung AND d.MaKhoaHoc = i.MaKhoaHoc;

    IF (@Count > 2) -- Bao gồm cả bản ghi đang insert
    BEGIN
        RAISERROR (N'Lỗi: Bạn chỉ được đánh giá tối đa 2 lần cho mỗi khóa học.', 16, 1);
        ROLLBACK TRANSACTION;
    END
END;
GO
ALTER TABLE [dbo].[DanhGia] ENABLE TRIGGER [trg_GioiHanDanhGia]
GO
/****** Object:  Trigger [dbo].[trg_KiemTraDieuKienDanhGia]    Script Date: 5/29/2026 12:08:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create TRIGGER [dbo].[trg_KiemTraDieuKienDanhGia]
ON [dbo].[DanhGia]
FOR INSERT
AS
BEGIN
    IF EXISTS (
        SELECT 1 FROM inserted i
        JOIN TienDo t ON i.MaKhoaHoc = t.MaKhoaHoc AND i.MaNguoiDung = t.MaNguoiDung
        WHERE t.PhanTramTienDo < 100 OR t.PhanTramTienDo IS NULL
    )
    BEGIN
        -- Đã sửa thành %% để không lỗi format
        RAISERROR (N'Lỗi: Bạn phải hoàn thành 100%% khóa học mới được phép đánh giá!', 16, 1);
        ROLLBACK TRANSACTION;
    END
END;
GO
ALTER TABLE [dbo].[DanhGia] ENABLE TRIGGER [trg_KiemTraDieuKienDanhGia]
GO
/****** Object:  Trigger [dbo].[trg_ChanPublishKhoaHoc]    Script Date: 5/29/2026 12:08:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_ChanPublishKhoaHoc]
ON [dbo].[KhoaHoc]
FOR UPDATE
AS
BEGIN
    IF UPDATE(TinhTrang)
    BEGIN
        IF EXISTS (
            SELECT 1 FROM inserted i
            WHERE i.TinhTrang = 'Published' 
            AND (
                i.GiaGoc IS NULL OR i.GiaGoc <= 0 
                OR NOT EXISTS (SELECT 1 FROM Chuong c JOIN BaiHoc b ON c.MaChuong = b.MaChuong WHERE c.MaKhoaHoc = i.MaKhoaHoc)
            )
        )
        BEGIN
            RAISERROR (N'Lỗi: Khóa học phải có giá > 0 và có ít nhất 1 bài học mới được Publish.', 16, 1);
            ROLLBACK TRANSACTION;
        END
    END
END;
GO
ALTER TABLE [dbo].[KhoaHoc] ENABLE TRIGGER [trg_ChanPublishKhoaHoc]
GO
USE [master]
GO
